.error {
  color: rgb(161, 21, 21);
}

.input {
  width: 320px;
  border: 2px solid rgb(139, 110, 72);
  border-radius: 12px;
  padding: 8px 12px;
}

.button {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
